@import "src/assets/styles/sass/dependencies";

.error-page {
  padding: 30px;
  min-height: 300px;
  align-content: center;

  &__title,
  &__description {
    justify-content: center;
  }

  &__title {
    font-size: 5rem;
    color: $c-accent-300;
    margin-bottom: .3em;
  }

  &__description {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
  }
}

