body {
  position: relative;
  min-width: map-get($breakpointsMap, smartphone);
  min-height: map-get($breakpointsMap, smartphone);
  background: $c-general;
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.33;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 0 $footer-height 0;

  &, * {
    box-sizing: border-box;
  }

  @include resolution_desktop-and-up {
    font-size: 18px;
  }

  @include resolution_tablet {
    font-size: 17px;
  }

  @include resolution_smartphone {
    font-size: 16px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h2,
h3 {
  font-weight: 600;
}

p {
  font-size: inherit;
}

p + p {
  margin-top: .8em;
}

a {
  appearance: none;
  color: currentColor;
  text-decoration: none;
}

.link {
  font-weight: 500;

  &:link,
  &:visited {
    color: $c-general;
    text-decoration: none;
  }

  &:hover {
    color: $c-general;
    text-decoration: underline;
  }

  &:active {
    color: $c-general;
    text-decoration: underline;
  }
}

.link-white {
  text-decoration: none;
  font-weight: 500;

  &:link,
  &:visited {
    color: $c-white;
  }

  &:hover {
    color: $c-gray-100
  }

  &:active {
    color: $c-gray-200
  }
}

%wrapper {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
