// Variables

// Fonts
$font-family: Verdana Pro, Arial, Helvetica Neune, sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 900;

// Colors
$c-white: #fff;
$c-general: #faf9f3;
$c-accent-100: #ebc100;
$c-accent-200: darken($c-accent-100, 5%);
$c-accent-300: darken($c-accent-100, 15%);
$c-gray-100: #eee;
$c-gray-200: #e5e5e5;
$c-gray-300: #ccc;
$c-gray-400: #333;
$c-gray-500: #292929;

// Shadows
$shadow-default: 0 1px 5px 0 rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(0, 0, 0, .1);
$shadow-light: 0 1px 5px 0 rgba(0, 0, 0, .25);

// Misc
$border-radius: 5px;
$border-radius-m: 10px;
$border-radius-l: 15px;
$footer-height: 48px;
