.top-books {
  &__title { // h1
    width: 100%;
    padding: 18px 30px;
    background: $c-general;
    font-size: 2rem;
    font-weight: 600;
    color: $c-accent-200;
    text-align: center;
  }

  &__search {
    position: relative;
    width: 100%;
    padding: 20px 30px 0 30px;

    // very simple styles, just to mark it's a search field:
    .input-wrapper {
      position: relative;
      width: 100%;
      color: $c-accent-200;

      $icon-size: 16px;

      .loupe-icon { // TODO: SVG sprites
        content: ' ';
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 10px;
        z-index: 1;
        width: $icon-size;
        height: $icon-size;
        margin-top: -#{($icon-size / 2) + 2px}; // visually center icon
        border-radius: 50%;
        border: 2px solid currentColor;

        &:after {
          content: ' ';
          position: absolute;
          top: $icon-size - 2px;
          right: $icon-size - 8px;
          z-index: 0;
          height: 2px;
          width: $icon-size / 1.5;
          background: currentColor;
          transform: rotate(-45deg);
        }
      }

      input[type='text'] {
        appearance: none;
        width: 100%;
        height: 40px;
        border-radius: $border-radius;
        border: 1px solid rgba($c-accent-100, .25);
        background-color: $c-general;
        padding: 10px #{$icon-size + 20px} 10px 10px;
        font-size: 15px;
        color: $c-gray-500;

        &:focus,
        &:active {
          outline: none;
          box-shadow: none;
          border: 1px solid rgba($c-accent-100, .5);
        }
      }
    }
  }
}
