@import "src/assets/styles/sass/dependencies";

.top-actions {
  width: 100%;
  padding: 15px 30px;

  & > .container {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__logo { // a
    display: flex;
    flex: 0 1 200px;
    max-width: 200px;
    height: 34px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    text-align: center;
    background-color: $c-gray-300;
    border-radius: $border-radius;
    user-select: none;
  }

  &__menu {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    justify-content: flex-end;


    ul {
      width: auto;
      text-align: right;
    }

    li {
      display: inline-block;
      font-size: 0;

      & > a {
        display: block;
        padding: 0 15px;
        height: 38px;
        font-size: 14px;
        text-align: center;
        line-height: 38px;
        white-space: nowrap;
        border-radius: $border-radius;
        transition: color, background-color .05s ease-in;

        &:link,
        &:visited {
          color: $c-gray-500;
        }

        &:hover,
        &:active {
          color: $c-white;
        }

        &:hover {
          background-color: rgba($c-accent-100, .75);
        }

        &:active {
          background-color: $c-accent-100;
        }

        &.router-link-active {
          &,
          &:hover,
          &:active {
            color: $c-white;
            background-color: $c-accent-200;
            cursor: default; // active item is not clickable
            pointer-events: none;
          }
        }
      }
    }

    li + li {
      margin-left: 2px;
    }

    @include resolution_phone {
      display: none;
    }
  }
}
