/*
 * Grid columns
 */

// You may use the following mixins as a replacement for .col.col-* classes
@mixin col-core {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
@mixin col-generator($col-width) {
  flex: 0 0 #{(100% / $columns-quantity) * $col-width};
  max-width: #{(100% / $columns-quantity) * $col-width};
}
// --

.container {
  .col {
    @include col-core;

    @for $i from 1 through $columns-quantity {
      &-#{$i} {
        @include col-generator($i);
      }
    }

    @include resolution_widescreen {
      @for $i from 1 through $columns-quantity {
        &.col-xs-#{$i} {
          flex: 0 0 #{(100% / $columns-quantity) * $i};
        }
      }
    }

    @include resolution_desktop {
      @for $i from 1 through $columns-quantity {
        &.col-l-#{$i} {
          flex: 0 0 #{(100% / $columns-quantity) * $i};
        }
      }
    }

    @include resolution_tablet {
      @for $i from 1 through $columns-quantity {
        &.col-m-#{$i} {
          flex: 0 0 100%;
          min-width: $tablet - $gutter;
          max-width: $desktop - $gutter;
        }
      }
    }

    @include resolution_phablet {
      @for $i from 1 through $columns-quantity {
        &.col-s-#{$i} {
          flex: 0 0 100%;
          min-width: $phablet - $gutter;
          max-width: $tablet - $gutter;
        }
      }

    }

    @include resolution_phone {
      @for $i from 1 through $columns-quantity {
        &.col-#{$i} {
          flex: 0 0 100%;
          min-width: $smartphone - $gutter;
          max-width: $phablet - $gutter;
        }
      }
    }
  }
}
