@import "src/assets/styles/sass/dependencies";

button {
  $button-height: 32px;
  $border-thickness: 2px;

  display: inline-block;
  vertical-align: middle;
  min-width: 70px;
  height: $button-height;
  line-height: $button-height - ($border-thickness * 2);
  border: $border-thickness solid transparent;
  font-size: 14px;
  color: $c-white;
  background-color: $c-accent-200;
  padding: 0 10px;
  outline: 0;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: $c-accent-100;
  }
  &:active {
    background-color: $c-accent-300;
  }
}
