/*
 * Container
 */

.container {
  padding: 0 #{$gutter};
  margin-left: auto;
  margin-right: auto;

  @include container-core;

  @include resolution_widescreen {
    width: $desktop - $gutter;
  }

  @include resolution_desktop {
    width: $tablet;
  }

  @include resolution_tablet {
    width: $phablet;
  }

  @include resolution_phablet {
    width: 100%;
    max-width: $phablet - $gutter;
  }

  @include resolution_phone {
    width: 100%;
    max-width: $phablet;
  }
}
