// ОСНОВНЫЕ СТИЛИ
@import "reusable/reusable";

// Блок, куда скриптом вставляется виджет
#rzd-search-widget {
  position: relative;
}

// Сетка
// - Основной контейнер
.rzd-container {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-width: $widget-min-width;
  max-width: 100%;
  border: 3px solid pink;

  // - Колонки сетки
  .rzd-cell {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;

    &.__rzd-gutter {
      padding: $widget-inner-paddings;
    }
  }
}

.rzd-cell {
  // По умолчанию для адаптива и для фиксированной верстки
  @include resolution-desktop {
    @for $percent from 1 through 100 {
      $value: $percent * 5; // Генерируем классы с шагом 5% (5, 10, 15, 20, 25...)

      &-#{$value} {
        flex: 0 1 #{$value}#{unquote('%')};
        max-width: #{$value}#{unquote('%')};
      }
    }
  }

  @include resolution-mobile {
    @for $percent from 1 through 100 {
      $value: $percent * 5;

      &.rzd-cell-#{$value} {
        flex: 0 1 100%;
      }
    }
  }
}

// UI элементы
.rzd-container {
  .rzd-button {
    position: relative;
    display: block;
    height: $widget-height;
    padding: 0 12px;
    cursor: pointer;
    user-select: none;
    font: #{$fw-bold} 16px/#{$widget-height + 3px} #{$font-family-caption};
    transition: background-color, color .15s linear;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;
    overflow: hidden;

    @include a11y-prop(
        color,
        rgba($c-white, .75),
        $a11y-white,
        $a11y-white,
        $a11y-blue-100
    );

    @include a11y-prop(
        border,
        1px solid transparent,
        1px solid transparent,
        1px solid $a11y-white,
        1px solid transparent
    );

    &:not(.rzd-disabled):not([disabled]) {
      @include a11y-prop(
          background-color,
          $c-red-300,
          $a11y-black,
          $a11y-black,
          $a11y-blue-500
      );

      &:hover,
      &:active {
        @include a11y-prop(
            color,
            $c-white,
            $a11y-white,
            $a11y-white,
            $a11y-blue-100
        );
      }

      &:hover {
        @include a11y-prop(
            background-color,
            $c-red-400,
            $a11y-black,
            $a11y-black,
            $a11y-blue-500
        );
      }

      &:active {
        @include a11y-prop(
            background-color,
            $c-red-500,
            $a11y-black,
            $a11y-black,
            $a11y-blue-500
        );
      }
    }

    &.rzd-disabled {
      @include a11y-opacity(0.5);
      cursor: default;
    }
  }

  .rzd-button-wrapper {
    position: relative;
    height: $widget-height + $widget-borders;

    a.rzd-button {
      line-height: $widget-height + $widget-borders; // фикс выравнивания текста
    }

    .rzd-button {
      width: 100%;
      height: 100%;
    }
  }

  .rzd-fake-input {
    position: relative;
    width: 100%;

    & > .rzd-icon {
      position: absolute;
      z-index: 1;
      top: 12px;
      left: 15px;
    }

    input {
      position: relative;
      transition: padding-bottom .15s linear;
    }

    &__placeholder {
      width: 100%;
      padding: 0 $input-padding-l-r;
      font-size: a11y-px-to-rem(13px);
      @include a11y-prop(
          color,
          $c-gray-400,
          $a11y-black,
          $a11y-white,
          $a11y-blue-500
      );
      white-space: nowrap;
      position: absolute;
      bottom: 12px;
      left: 0;
      z-index: 1;
      transition: opacity .15s ease-in;
      user-select: none;
      overflow: hidden;
    }

    // НЕТ ЗНАЧЕНИЯ
    // Скрывем ненастоящие плейсхолдеры-подписи до того, как что-либо введено
    input:invalid + .rzd-fake-input__placeholder,
    input:disabled + .rzd-fake-input__placeholder {
      height: 0;
      opacity: 0;
      bottom: 0;
    }

    // ЕСТЬ ЗНАЧЕНИЕ и не задизеблен
    input:not(:invalid):not(:disabled) {
      padding-bottom: 1em;

      @include IE-only {
        line-height: 1;
      }
    }
  }

  .rzd-swap-directions-button {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include a11y-prop(
        background-color,
        $c-white,
        $a11y-white,
        $a11y-black,
        $a11y-blue-100
    );

    &:hover {
      box-shadow: $shadow-default;

      .rzd-icon {
        @include a11y-prop(
            fill,
            $c-red-300,
            $a11y-black,
            $a11y-white,
            $a11y-blue-500
        );
      }
    }
  }

  .rzd-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
    @include a11y-prop(
        fill,
        $c-gray-500,
        $a11y-black,
        $a11y-white,
        $a11y-blue-500
    ); // по умолчанию

    &--h {
      fill: #e31b1a;
    }
  }

  .rzd-icon-plate {
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
  }
}


