@import "src/assets/styles/sass/dependencies";

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1002;
  background-color: $c-white;
  text-align: center;
  font-size: 0;

  &__loader {
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($c-accent, .4);
      border-radius: 50px;
      opacity: 0
    }

    &::before {
      transform: scale(1);
      -webkit-animation: 2s linear infinite pulse;
      animation: 2s linear infinite pulse
    }

    &::after {
      -webkit-animation: 2s linear 1s infinite pulse;
      animation: 2s linear 1s infinite pulse
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(.6);
    opacity: 0
  }

  33% {
    transform: scale(1);
    opacity: 1
  }

  100% {
    transform: scale(1.4);
    opacity: 0
  }
}
