.books-list {
  justify-content: stretch;
  @include container-core;

  .book {
    position: relative;
    flex-flow: column;
    background-color: $c-general;
    @include col-core;
    @include col-generator(4);

    .position {
      position: absolute;
      top: 10px;
      right: 10px;

      span { // badge
        $badge-size: 30px;

        display: block;
        float: right;
        width: $badge-size;
        height: $badge-size;
        line-height: $badge-size - 2px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid $c-accent;
      }


      img {
      }

      .book-info {
        h3.title {
        }

        .author {
        }

        .synopsis {
          p {
          }
        }
      }
    }

    @include resolution_tablet-and-up {

    }
    @include resolution_smartphone {

    }
  }
}
