.featured-book {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  background-color: $c-general;
  margin: 20px 0;


  .recommended {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    background-color: $c-accent;
    color: $c-white;
    padding: 2px 4px 3px 4px;
    border-bottom-left-radius: $border-radius;
  }

  img {
    display: inline-flex;

    @include resolution_tablet-and-up {
      width: 170px;
      margin-right: 20px;
    }

    @include resolution_smartphone {
      width: 220px;
    }
  }

  .book-info {
    display: inline-flex;

    h2 {
      font-size: 1.4rem;
      margin-bottom: 0;
    }

    .author {
      font-size: .8rem;
    }

    .synopsis {
      margin-top: 1.6rem;
      p {
        font-size: .8rem;
      }
    }
  }
}
