.main {
  // TODO: panel mixin
  background-color: $c-white;
  border-radius: $border-radius-l;
  padding: 30px 0;
  box-shadow: $shadow-default;

  & > .container {
    padding: 0;
  }

  h1 {
    font-size: 2.6rem;
  }
}
