.top-actions { // wrapper
  margin: 15px 0 20px 0;

  & > .container {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  .top-logo { // a
    display: flex;
    flex: 0 0 200px;
    height: 34px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $c-gray-100;
    border-radius: $border-radius;
  }

  .top-menu {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;

    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li > a {
      }
    }

    @include resolution_smartphone-and-tablet {
      display: none;
    }
  }
}
