@import "../../../assets/styles/sass/dependencies";

.not-found-block {
  padding: 50px 60px 60px;
  text-align: center;
  flex: none;

  &,
  &__icon,
  &__description {
    display: block;
    width: 100%;
  }

  &__icon {
    font-size: 5rem;
    margin-bottom: .1em;

    img {
      display: inline-block;
      width: 1em;
      height: auto;
    }
  }

  &__description {
    font-size: 2rem;
    color: $c-accent-200;
    text-align: center;
  }
}

