// Variables

// Fonts
$font-family: Helvetica, Arial, sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 900;

// Colors
$c-white: #fff;
$c-general: #faf9f3;
$c-accent: #ebc100;
$c-gray-100: #cccccc;
$c-gray-500: #292929;

// Shadows
$shadow-default: 0 0 10px 0 rgba($c-gray-500, .5);

// Misc
$border-radius: 5px;
