@import "src/assets/styles/sass/dependencies";

button {
  $button-height: 32px;
  $border-thickness: 2px;

  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-width: 70px;
  height: $button-height;
  line-height: $button-height - ($border-thickness * 2);
  border: $border-thickness solid transparent;
  font-size: 14px;
  color: $c-white;
  background-color: $c-accent-200;
  padding: 0 10px;
  outline: 0;
  border-radius: 6px;
  cursor: pointer;
  overflow:hidden;
  transition: background-color .09s ease-in;
  user-select: none;

  .app-button__text {
    z-index: 1;
  }

  &::before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 0;
    background: rgba($c-white, .15);
    transition: top .09s ease-in;
    pointer-events: none;
  }

  &:hover {
    background-color: $c-accent-100;

    &::before {
      top: 0;
    }
  }
  &:active {
    background-color: $c-accent-200;

    &:hover {
      ::before {
        opacity: 0;
      }
    }
  }
}
