.featured-book {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: $c-general;
  width: 100%;
  padding: 30px;
  margin-bottom: 20px;

  @include resolution_phablet-and-up {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  @include resolution_phone {
    flex-wrap: wrap;
    justify-content: center;
  }

  .recommended {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    background-color: $c-accent;
    font-size: 13px;
    color: $c-white;
    padding: 7px 10px;
    border-bottom-left-radius: $border-radius-m;
  }

  img {
    display: inline-flex;
    margin-bottom: 20px;
    border-radius: $border-radius-l;
    box-shadow: $shadow-default;

    @include resolution_phablet-and-up {
      width: 260px;
      margin-right: 20px;
    }

    @include resolution_phone {
      width: 220px;
    }
  }

  .book-info {
    display: inline-flex;
    flex-flow: column;
    font-size: 15px;

    .title { // h2
      font-size: 32px;
    }
  }
}
