.book {
  display: flex;
  position: relative;
  padding: 15px;
  margin: 10px;
  background-color: $c-general;
  border-radius: $border-radius-m;

  @include resolution_desktop-and-up {
    flex-flow: column wrap;
    justify-content: flex-start;
  }

  @include resolution_smartphone-and-tablet {
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
  }

  .book-cover {
    $image-width: 100px;
    display: inline-flex;
    flex: 0 0 $image-width;
    align-items: flex-start;
    max-width: $image-width;
    height: 160px;
    border-radius: $border-radius;
    margin-bottom: 10px;
    background: rgba($c-accent, .35) top center / cover; // user will see background while image loading
    box-shadow: $shadow-light;

    @include resolution_smartphone-and-tablet {
      margin-left: 20px;
    }
  }

  .book-info {
    display: inline-flex;
    flex-flow: column;
    width: 100%;
    font-size: 14px;

    .title {
      margin-bottom: .5em;
    }
  }
}
