.book {
  display: flex;
  position: relative;

  &__cover {
    $image-width: 120px;
    $image-height: 190px;
    display: inline-flex;
    flex: 0 0 $image-width;
    height: $image-height;
    min-height: $image-height;
    min-width: $image-width; // fix for width clamping
    border-radius: $border-radius;
    background: rgba($c-gray-500, .15) top center / cover; // user will see background while image loading
    box-shadow: $shadow-light;
  }

  &__info {
    display: inline-flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;

    .title,
    .author,
    .synopsis {
      display: block;
      width: 100%;
    }

    .title {
      font-size: 20px;
      color: $c-accent-300;
      font-weight: 600;
      margin-bottom: .5em;

      .rating {
        font-size: 15px;
        color: $c-gray-500;
        font-weight: normal;
      }
    }

    .author {
      font-style: italic;
      color: $c-gray-400;
      margin-bottom: 1.3em;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;

    .counter {
      margin-left: 15px;
    }
  }
}
